
<mat-card class="card-display">
    <mat-card-title>Delete User</mat-card-title>
<mat-card-content style="padding-top: 20px;">
    <div *ngIf="dataLoaded">
        <form [formGroup]="deleteUserForm" (submit)="deleteUser()">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Name" formControlName="name">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                 
                </mat-form-field>
              </p>
        
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Email-ID</mat-label>
                  <input matInput placeholder="Email-ID" formControlName="email">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  
                </mat-form-field>
              </p>
              
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Phone Number</mat-label>
                  <input matInput placeholder="Phone Number"formControlName="phone" >
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  
                </mat-form-field>
              </p>

              <p>
                <button mat-raised-button color="primary"  >Delete User</button>
              </p>

        </form>
    </div>
</mat-card-content>
</mat-card>

